<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/grid.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/Csharp.css">
</head>
<body>
    <div class="main-body">
        <div class="content-container">
            <a href="../index.html" class="content-link-page">Trở lại</a>
            <div class="content-section">
                <h1 class="content-heading">
                    C#
                </h1>
    
                <div class="content-text">
                    <h3 class="text-heading">
                        <i class="ti-help-alt"></i>
                        Biến trong lập trình
                    </h3>
                    <p class="text">
                        - Lưu trữ giá trị dữ liệu có thể thay đổi được, tên gọi tham chiếu đến một vùng nhớ nào đó <br>
                        <i style="font-weight: bold; color: red;">&nbsp Vì sao phải dùng biến</i><br>
                        &nbsp&nbsp- Cấu trúc của bộ nhớ bao gồm nhiều ô nhớ liên tiếp nhau, mỗi ô nhớ có một địa chỉ riêng (địa chỉ ô nhớ thường mã hex (thập lục phân)).<br>
                        &nbsp&nbsp- Khi muốn sử dụng ô nhớ nào (cấp phát, hủy, lấy giá trị, . . .) bạn phải thông qua địa chỉ của chúng. Điều này làm cho việc lập trình trở nên khó khăn hơn.<br>
                        &nbsp&nbsp- Thay vào đó bạn có thể khai báo một biến và cho nó tham chiếu đến ô nhớ bạn cần quản lý rồi khi sử dụng bạn sẽ dùng tên biến bạn đặt chứ không cần dùng địa chỉ của ô nhớ đó nữa<br>
                        <i style="font-weight: bold;">&nbsp <a href="https://www.howkteam.vn/course/khoa-hoc-lap-trinh-c-can-ban/bien-trong-c-52" class="href">Nguồn: Kteam</a></i><br>
                    </p>
                </div>

                <div class="content-text">
                    <h3 class="text-heading">
                        <i class="ti-help-alt"></i>
                        Cơ chế gom rác (garbage colection) khi k sử dụng biến (tham chiếu, tham trị) (khi nào thì k còn đc sử dụng)
                    </h3>
                    <p class="text">
                        <i style="font-weight: bold;">&nbsp <a href="" class="">Nguồn: Kteam, Javascript.info(bài variables)</a></i><br>
                    </p>
                </div>

                <div class="content-text">
                    <h3 class="text-heading">
                        <i class="ti-help-alt"></i>
                        Cơ chế lưu trữ của biến tham trị, tham chiếu
                    </h3>
                    <p class="text">
                        <i style="font-weight: bold;">&nbsp <a href="https://www.howkteam.vn/course/khoa-hoc-lap-trinh-c-can-ban/kieu-du-lieu-trong-c-53" class="">Nguồn: Kteam</a></i><br>
                    </p>
                </div>

                <div class="content-text">
                    <h3 class="text-heading">
                        <i class="ti-help-alt"></i>
                        Các cách ép kiểu và cơ chế ép kiểu (cha = con thì ép kiểu ngầm định về cha, ngc lại là ép kiểu tường minh, chuyển value qua ntn: Kteam ép kiểu C#)
                    </h3>
                    <p class="text">
                        <i style="font-weight: bold;">&nbsp <a href="https://www.howkteam.vn/course/khoa-hoc-lap-trinh-c-can-ban/ep-kieu-trong-c-56" class="">Nguồn: Kteam</a></i><br>
                    </p>
                </div>

                <div class="content-text">
                    <h3 class="text-heading">
                        <i class="ti-help-alt"></i>
                        var, object, dynamic
                    </h3>
                    <p class="text">
                        - Cơ chế uboxing và boxing(chuyển dữ liệu từ kiểu giá trị sang tham chiếu, Object --> int, được thực hiện ngầm định) <br>
                        - Nhưng k nên <i><b>nhầm lẫn</b></i> giữa việc boxing (chuyển đổi ngầm định: cha --> con) và ép kiểu rộng (nhỏ sang lớn: k mất dữ liệu) <br>
                        - var nói ngắn ngọn là từ khóa hỗ trợ khai báo mà k cần kiểu dữ liệu, kiểu dl sẽ đc xác định khi gán giá trị cho biến, lúc đó <b><i>chương trình sẽ tự ép kiểu</i></b>. Đọc thêm tại <a href="https://www.howkteam.vn/course/khoa-hoc-lap-trinh-c-can-ban/kieu-du-lieu-object-trong-c-86">Kteam</a><br>
                        - <a href="https://www.howkteam.vn/course/khoa-hoc-lap-trinh-c-can-ban/tu-khoa-dynamic-trong-c-87">Phân biệt var, dynamic, object</a> <br>
                        - Object là 1 kiểu dữ liệu
                    </p>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>